# Null-seerr Media Stack Environment Configuration Example
# Running setup.bat will auto-generate this file based on your largest drive!

STACK_ROOT=C:/arr-stack
CONFIG_ROOT=C:/arr-stack/config
DATA_ROOT=C:/arr-stack/data
MEDIA_ROOT=C:/arr-stack/data/media
TV_DIR=C:/arr-stack/data/media/tv
TRANSCODE_CACHE=C:/arr-stack/data/transcode_cache

PUID=1000
PGID=1000
TZ=Etc/UTC

NULL_SEERR_PORT=5055
RADARR_PORT=7878
SONARR_PORT=8989
PROWLARR_PORT=9696
QBIT_WEBUI_PORT=8089
QBIT_TORRENT_PORT=6881
JELLYFIN_PORT=8096
PLEX_PORT=32400
BAZARR_PORT=6767
SHOKO_PORT=8111
SUGGESTARR_PORT=4455
TDARR_WEB_PORT=8265
TDARR_SERVER_PORT=8266
FLARESOLVERR_PORT=8191
